.footer {
    width: 105vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #100B00;
    flex-direction: column;
    height: 16vh;
    padding: 1rem 0;
    
}

.msg {
    margin-right: 4rem;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}

.msg a {
    color: white;
    font-weight: 700;
    transition: 0.5s ease-in-out;
}

.msg a:hover {
    color: #ECDD7B;
}

.msg p {
    margin: 0.5em 0; 
}

.icons_container {
    margin-right: 7rem;
 position: relative;
 bottom: 0;
}

.social_list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0; 
}

.social_list li {
    margin: 0 0.5em;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
    color: white;
}
.social_list svg:hover{
    color: lightgray;
}



